<script src="node_modules/chart.js/src/chart.js"></script>
<div>
  <div id="chart">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-header>
        <mat-card-title>Stress Chart</mat-card-title>
        <mat-card-subtitle>Stressful Events vs Caloric Intake</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
    </mat-card-content>
    </mat-card>
  </div>
  <div id="form">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-header>
        <mat-card-title>Entry Submission</mat-card-title>
        <mat-card-subtitle>Submit a new event...</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form [formGroup]="userEntryForm" (ngSubmit)="user_submit()">
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-divider id="entry-separator" [inset]="true"></mat-divider>
          <mat-form-field appearance="standard">
            <mat-label>Daily Stress Level</mat-label>
            <mat-select formControlName="stress">
              <mat-option value="None">None</mat-option>
              <mat-option value="Low">Low</mat-option>
              <mat-option value="Average">Average</mat-option>
              <mat-option value="High">High</mat-option>
              <mat-option value="Very High">Very High</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-divider id="entry-separator" [inset]="true"></mat-divider>
          <mat-form-field appearance="standard">
            <mat-label>Caloric Intake</mat-label>
            <input matInput type="number" formControlName="intake">
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" id="sub-button">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-header>
        <mat-card-title>Stress Type</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{s_type}}</h2>
        <p>{{s_desc}}</p>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card [class.mat-elevation-z8]="true" class="resources">
      <mat-card-header>
        <mat-card-title>Resources</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><a href="https://www.helpguide.org/articles/diets/emotional-eating.htm">HelpGuide Article on Emotional Eating</a></li>
          <li><a href="https://www.healthline.com/health/mental-health/anxiety-lose-appetite">Healthline Article on no appetite</a></li>
          <li><a href="https://www.mayoclinic.org/healthy-lifestyle/weight-loss/in-depth/weight-loss/art-20047342">MayoClinic Stress Eating</a></li>
          <li><a href="https://www.health.harvard.edu/staying-healthy/why-stress-causes-people-to-overeat">Harvard Health Stress Eating</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
